[Desktop Entry]
Name=Aquarelle Dyno Left
Comment=Aquarelle Window Decoration
X-KDE-PluginInfo-Author=kr0s
X-KDE-PluginInfo-Email=dejavue@outlook.com
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Name=Aquarelle-Dyno-Left-Aurorae
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
